/* fonts */

@font-face {
    font-family: Notable;
    src: url("./fonts/Notable/Notable-Regular.ttf");
}

/* code */
* {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px auto;
    background-color: #F7E9DE;
}

.container {
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #87a680;
}

.header {
    flex-basis: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links,
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 150px;
}

.links a {
    padding: 25px;
    color: #F7E9DE;
    text-decoration: none;
    font-size: 17px;
}

.links a:hover {
    transition: 0.7s;
    color: #dbcfc6;
}

.cover {
    flex-basis: 90%;
}

.cover-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.cover .cover-content h1 {
    font-family: Notable;
    font-size: 75px;
    color: #F7E9DE;
    letter-spacing: 5px;
}

.cover-content img {
    position: absolute;
}

#photo1 {
    position: absolute;
    width: 280px;
    top: 48.5%;
    left: 0%;
}

#photo2 {
    position: absolute;
    width: 300px;
    top: -12%;
    left: 78%;
}

.cover-content a {
    color: #87a680;
    text-decoration: none;
    background-color: #F7E9DE;
    padding: 15px 30px;
    border: 2px solid #87a680;
}

.cover-content a:hover {
    transition: 1s;
    background-color: #87a680;
    color: #F7E9DE;
    border: 2px solid #F7E9DE;
    box-shadow: 6px 25px 13px rgba(255, 255, 255, 0.04), 3px 32px 20px rgba(255, 255, 255, 0.13), 2px 14px 14px rgba(255, 255, 255, 0.21), 0px 4px 8px rgba(255, 255, 255, 0.25), 0px 0px 0px rgba(255, 255, 255, 0.25);
}

.about {
    height: 90vh;
    background-color: #F7E9DE;
    color: #87a680;
    position: relative;
}

.about h1 {
    margin-left: -30px;
    font-family: Notable;
    font-size: 75px;
    word-break: break-all;
}

.about p {
    font-size: 20px;
}

.txt {
    padding: 25px;
}

#photo4 {
    position: absolute;
    width: 280px;
    left: 81.5%;
    top: 59.9%;
}

.quote {
    height: 50vh;
    background-color: #87a680;
    position: relative;
    display: flex;
    align-items: center;
    justify-self: center;
}

.quote h1 {
    font-family: Notable;
    color: #F7E9DE;
    margin: 50px;
    letter-spacing: 4px;
    text-align: center;
}

#photo51 {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 90%;
}

#photo52 {
    position: absolute;
    width: 100%;
    z-index: 1;
    rotate: 180deg;
}

.recognition {
    height: 15vh;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas#defaultCanvas0.p5Canvas {
    width: 100%;
}

.buttons {
    margin-top: 100px;
}

#bg1,
#bg2,
#bg3,
#bg4,
#bg5,
#bg6 {
    background-size: contain;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0px solid transparent;
}

#bg1 {
    background: url(./backgrounds/bg-1.jpg);
}

#bg2 {
    background: url(./backgrounds/bg-2.jpg);
}

#bg3 {
    background: url(./backgrounds/bg-3.jpg);
}

#bg4 {
    background: url(./backgrounds/bg-4.jpg);
}

#bg5 {
    background: url(./backgrounds/bg-5.jpg);
}

#bg6 {
    background: url(./backgrounds/bg-6.jpg);
}

@media only screen and (max-width:1440px) {
    #photo1 {
        top: 62.5%;
        left: 0%;
    }

    #photo2 {
        left: 70%;
    }

    #photo4 {
        width: 300px;
        top: 69%;
        rotate: 0deg;
        z-index: 0;
        left: 76%;
    }


    #photo51 {
        top: 92%;
    }
}

@media only screen and (max-width:1024px) {
    #photo1 {
        top: 56.5%;
    }

    #photo2 {
        position: absolute;
        width: 300px;
        top: -12%;
        left: 70.5%;
    }

    #photo4 {
        top: 64%;
        left: 70.5%;
    }


    #photo51 {
        top: 93%;
    }
}

@media only screen and (max-width:770px) {
    .cover .cover-content h1 {
        font-size: 48px;
        text-align: center;
    }

    #photo1 {
        position: absolute;
        width: 180px;
        top: 62.7%;
        left: 3%;
    }

    #photo2 {
        position: absolute;
        width: 200px;
        top: -12%;
        left: 72.5%;
    }

    .about h1 {
        font-size: 48px;
    }

    .about p {
        font-size: 14px;
    }

    #photo4 {
        width: 200px;
        top: 68%;
        rotate: 0deg;
        z-index: 0;
        left: 74%;
    }


    #photo51 {
        top: 95%;
    }
}

@media only screen and (max-width:450px) {
    .header .links a {
        padding: 5px 10px;
        font-size: 12px;
    }

    .logo img {
        width: 100px;
    }

    .cover .cover-content h1 {
        font-size: 25px;
        text-align: center;
    }

    #photo1 {
        position: absolute;
        width: 160px;
        top: 68.7%;
        left: 3%;
    }

    #photo2 {
        position: absolute;
        width: 190px;
        rotate: 90deg;
        top: -2%;
        left: 55.5%;
    }

    .about h1 {
        font-size: 45px;
    }

    .about p {
        font-size: 14px;
    }

    #photo4 {
        display: none;
    }

    .quote h1 {
        font-size: 25px;
        margin: 0;
    }

    #photo51 {
        top: 98%;
    }

    .recognition {
        margin-bottom: 220px;
    }
}

@media only screen and (max-width:380px) {
    #photo1 {
        position: absolute;
        width: 150px;
        top: 68.7%;
        left: 0%;
    }

    #photo2 {
        position: absolute;
        width: 170px;
        rotate: 90deg;
        top: -2%;
        left: 55%;
    }
}

@media only screen and (max-width:320px) {
    .header .links a {
        display: none;
    }

    #photo1 {
        position: absolute;
        width: 150px;
        top: 68.7%;
        left: 0%;
    }

    #photo2 {
        position: absolute;
        width: 170px;
        rotate: 90deg;
        top: -2%;
        left: 47.5%;
    }
}